#red
{
    height: 100px;
    width: 100px;
    background-color: red;
}
#yellow 
{
    height: 100px;
    width: 100px;
    background-color: yellow;
}
#blue 
{
    height: 100px;
    width: 100px;
    background-color: blue;
}
#green
{
    width: 100px;
    height: 100px;
    background-color: green;
}